body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to top right, #e0c3fc, #8ec5fc);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.auth-container, .home-container {
  max-width: 250px;
  width: 100%;
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

input {
  width: 80%;
  padding: 14px 16px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

button {
  width: 80%;
  margin-top: 30px;
  padding: 14px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.03);
  background: linear-gradient(to right, #5f10b8, #1f5edc);
}

h1, h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

p {
  color: #555;
  font-size: 14px;
}

a {
  color: #6a11cb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.auth-container p {
  margin-top: 10px;
}

.auth-container p.success {
  color: green;
}

.auth-container p.error {
  color: red;
}
